@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: spartan;
  src: url(./assets/fonts/Spartan-VariableFont_wght.ttf);
  font-weight: 400;
}
@font-face {
  font-family: spartan;
  src: url(./assets/fonts/Spartan-VariableFont_wght.ttf);
  font-weight: 600;
}
@font-face {
  font-family: spartan;
  src: url(./assets/fonts/Spartan-VariableFont_wght.ttf);
  font-weight: 700;
}
body {
  margin: 0;
  font-family: spartan, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -1px;
}
td {
  @apply align-middle text-center w-auto
}
.f-center {
  @apply flex justify-center items-center;
}
.f-between {
  @apply flex items-center justify-between;
}
svg {
  display: inline;
}
.display-drop-down-menu {
  display: flex !important;
  animation: name .2s forwards;
}
@keyframes name {
  from {transform: scale(1,0);opacity: 0;}
  to {transform: scale(1,1);opacity: 1;}
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  @apply bg-opacity-20 rounded-full dark:bg-opacity-20 dark:bg-white bg-mid-dark-blue;
}
::-webkit-scrollbar-thumb {
  @apply dark:bg-white rounded-full bg-mid-dark-blue dark:bg-opacity-70
}
h2 {
  @apply font-bold text-lg mt-1 mb-2;
}
#invoice-info > span > span {
  @apply opacity-60 mb-1;
}
@media (min-width:640px) {
  #new-invoice-btn::after {
    content: 'Invoice';
  }
  #filter-btn > span::after {
    content: 'by status';
  }
}
table > * > * {
  @apply flex items-center justify-between w-full; 
}
.displayPanel {
  display: flex !important;
  transform: translate(4rem) !important;
  transition: 1s !important;
}
.showPanelFather {
  display: flex !important;
}
.normal-btn {
  @apply dark:hover:bg-mid-dark-blue hover:bg-dark-blue hover:bg-opacity-5 p-2 text-sm rounded-lg;
}
.rounded-btn {
  @apply rounded-full hover:bg-opacity-80 h-12 active:opacity-60 transition-colors px-7
}